.loaderStarWarsLogo {
    height: auto;
    width: 150px;
}

.loaderAnimation {
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderAnimationBlock {
    display: inline-block;
    margin: 3px;
    left: 8px;
    width: 4px;
    border-radius: 5px;
    animation: block-animated 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loaderAnimationBlock:nth-child(1) {
    left: 8px;
    animation-delay: -0.36s;
    background: #f9b500;
}

.loaderAnimationBlock:nth-child(2) {
    left: 32px;
    animation-delay: -0.24s;
    background: #f9b500;
}

.loaderAnimationBlock:nth-child(3) {
    left: 56px;
    animation-delay: -0.12s;
    background: #f9b500;
}

.loaderAnimationBlock:nth-child(4) {
    left: 56px;
    animation-delay: 0;
    background: #f9b500;
}

@keyframes block-animated {
    0% {
    top: 8px;
    height: 32px;
    }
    50%, 100% {
    top: 24px;
    height: 17px;
    }
}

.loaderMessage {
    font-size: 1.2em;
    color: #f9b500;
}