.AppIndex {
    height: 100%;
    width: 100%;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: page-appear;
    background: #F5F5F5;
}

@keyframes page-appear {
    from {
        background: black;
    }
    to {
        background: #F5F5F5;
    }
}
