.Menu {
    height: 53px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background: black;
    color: white;
}

.MenuButton {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.MenuButton:nth-child(1) {
    font-size: 1.2em;
    border-bottom: 2px solid white;
}

.MenuButton:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}